// =================== VARIABLES ===================
// $primary: #077dc8;
// $secondary: rgb(207, 150, 44);
// $tertiary: #122d41;

$primary:   #0A7CC6;
$secondary: #C79A3A;
$tertiary:   #17344A;

$globalMargin: clamp(1rem, 1.8vw, 2rem);

$mobile: 0;
$tablet: 768px;
$desktop: 1200px;
$large: 1440px;