@media (min-width: 1200px) {
  html body {
    background-image: url(../assets/images/backcontainer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header-container {
    box-sizing: border-box;
  }
  .burger {
    display: none;
  }
  .mainNav {
    display: block;
    z-index: 90;
  }
  .hCarousel {
    display: none;
  }
  header nav {
    transition: all 0.2s ease;
  }
  header nav ul a {
    border: 0.15rem solid whitesmoke;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
    text-shadow: 0.2rem 0.2rem 0.5rem black;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
  }
  header nav ul a:hover {
    color: black;
    background-color: whitesmoke;
    text-decoration: none;
    transform: scale(1);
  }
  header nav ul a {
    transition: all 0.2s ease;
  }
  header.active {
    border-bottom: 0.2rem solid #C79A3A;
    background-color: whitesmoke;
    color: black;
    background: whitesmoke;
    top: 0;
  }
  header.active nav {
    padding-left: 0vw;
  }
  header.active nav a {
    text-shadow: none;
    box-shadow: none;
    border: 0.15rem solid black;
  }
  header.active nav a:hover {
    color: none;
    text-decoration: none;
  }
  main .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, transparent 20%);
    pointer-events: none;
    z-index: 0;
  }
  main .hero {
    background-image: url("../assets/images/BannerMarioBuffa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 16/5;
    padding: 1rem;
  }
  main div.services {
    grid-template-columns: repeat(3, 1fr);
    padding: clamp(1rem, 2vw, 3rem) clamp(0.5rem, 6vw, 12rem);
    gap: clamp(5rem, 8vw, 13rem);
    background: linear-gradient(to top, transparent, white 60%), url(../assets/images/bg-pattern3.png);
  }
  main div.services .service {
    flex-direction: row !important;
    gap: clamp(0.5rem, 2vw, 4rem);
  }
  main .contact-actioncall {
    background: linear-gradient(135deg, rgba(10, 145, 198, 0.5), rgba(13, 31, 58, 0.5));
    padding-block: clamp(1rem, 5vw + 2rem, 4rem);
    background: linear-gradient(300deg, rgba(13, 31, 58, 0.9), rgba(0, 0, 0, 0.349)) !important;
    background-image: none;
  }
  main .stats {
    flex-direction: row;
    padding-block: clamp(2rem, 4vw + 0.5rem, 5rem);
    padding-inline: 0;
  }
  main .festo-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(to bottom, whitesmoke, transparent), url("../assets/images/bg-pattern3.png");
  }
  main .services2 {
    background: linear-gradient(to top, whitesmoke 10%, transparent), url("../assets/images/bg-pattern3.png");
  }
  main .services2 .service-card {
    grid-template-columns: repeat(3, 1fr);
  }
  main .services2 .service-card .card svg {
    width: clamp(4rem, 6vw, 8rem);
  }
  main .services2 .service-card .card .moreInfo {
    padding-block: clamp(1rem, 1.1vw, 1.5rem);
  }
  main .services2 .service-card .card div {
    display: flex;
    flex-direction: row;
    min-height: clamp(5rem, 11vw, 12rem);
    gap: clamp(1rem, 2vw, 2rem);
    padding-inline: clamp(1.5rem, 2vw, 3rem);
    padding-block: clamp(0.5rem, 1vw, 2rem);
  }
  main .services2 .service-card .card div span {
    padding-block: clamp(1rem, 1.5vw, 2rem);
  }
  main .products {
    background-color: whitesmoke;
  }
  main .products .cards-container {
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(2rem, 4vw + 0.2rem, 5rem);
    padding-inline: clamp(5rem, 7vw, 9rem);
  }
  main .products .cards-container .card {
    width: auto;
    height: auto;
  }
  #reviews .clients-reviews b {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: clamp(4rem, 5vw + 0.1rem, 6rem);
    padding-inline: clamp(10rem, 11vw, 12rem);
  }
  footer {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  footer .card {
    align-items: start !important;
  }
}/*# sourceMappingURL=desktop.css.map */