@use '_reset';
@use '_variables' as v;
@use "sass:color";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(.2rem, 2vw, 1rem) clamp(1rem, 3vw, 4rem);
    gap: clamp(1rem, 3vw, 4rem);
    border-bottom: .2rem solid v.$secondary;
    transition: all 200ms;

    .logo {
        max-width: clamp(4rem, 5vw, 8rem);
    }

    &.scrolled {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    & button {
        svg {
            width: clamp(2rem, 10vw, 3rem);
            height: auto;
        }
    }

    & nav {
        display: none;
        flex: 0 10 auto;
        min-width: 0;
    }

    & ul {
        display: flex;
        justify-content: space-around;
        gap: clamp(.1rem, 2vw, 5rem);
    }

    & a {
        font: {
            size: clamp(0.6rem, 0.4rem + 0.8vw, 1.1rem);
            weight: 600;
        }
    }

    & li {
        border: clamp(.1rem, .15rem, .2rem) solid black;
        padding: clamp(.1rem, 1vw, 1rem) clamp(.3rem, 3vw, 4rem);
    }
}

main {
    & .hero {
        height: clamp(37vh, 50vh, 60vh);

        background: {
            image: url("../assets/images/herobg-mobile.jpg");
            repeat: no-repeat;
            position: center;
            size: cover;
        }

        display: flex;
        align-items: flex-end;
        justify-content: left;

        border-bottom: 0.2rem solid v.$secondary;

        & .hero-content {
            text-align: center;
            color: white;
        }
    }

    & .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        padding: clamp(2rem, 5vw, 10rem) clamp(3rem, 6vw, 12rem);
        gap: clamp(2rem, 4vw, 8rem);

        background:
            linear-gradient(to top, transparent, white 60%),
            url("../assets/images/bg-pattern3.png");
        ;

        & .service {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: clamp(1rem, 4vw, 4rem);
            min-width: clamp(1rem, 10vw, 10rem);
            opacity: 60%;

            &:hover {
                opacity: 100%;
            }

            &:active {
                opacity: 100%;
            }
        }

    }

    & .contact-actioncall {
        width: 100%;
        aspect-ratio: 3 / 2;

        padding: {
            block: clamp(2rem, 6vw, 10rem);
        }

        ;

        color: white;
        border-block: 0.2rem solid v.$secondary;

        background: linear-gradient(300deg,
            rgba(v.$tercary, .9),
            transparent),
        url(../assets/images/backcontainer.jpg);

        background: {
            size: cover;
            position: center;
            repeat: no repeat;
        }

        & div {
            display: flex;
            flex-direction: column;
            text-align: center;

            padding: clamp(1rem, 5vw, 5rem) clamp(2rem, 5vw, 4rem);

            text-shadow: .3rem .3rem .3rem black;

            & h4 {
                font-size: clamp(.7em, 5vw, 4rem);
            }

            & b {
                align-self: center;
                border: clamp(.2rem, .5vw, .5rem) solid rgba(v.$secondary, $alpha: .5);
                backdrop-filter: blur(.1rem);
                margin-bottom: .5rem;
                width: min(100% - 2rem, 1400px);

                padding: {
                    block: clamp(1rem, 5vw, 6rem);
                    inline: auto;
                }

                font-size: clamp(.7em, 7vw, 5rem);
                box-shadow: .2rem .2rem .5rem black;
                transition: all 300ms ease-out;

                &:hover,
                &:active {
                    backdrop-filter: blur(.2rem);
                    transform: scale(1.04);
                    box-shadow: .5rem .5rem .7rem rgba($color: #000000, $alpha: .7);
                    text-shadow:
                        .2rem .2rem .2rem black,
                        .1rem .1rem .4rem white;
                    border: clamp(.2rem, .5vw, .5rem) solid v.$secondary;
                }
            }

            & p {
                font-weight: 400;
                font-size: clamp(.7em, 3.5vw, 3rem);
            }

            & button {
                color: black;
                font-weight: clamp(500, 700, 800);
                background-color: white;
                border-radius: .3rem;
                align-self: center;
                font-size: clamp(.7em, 3.9vw, 4rem);
                letter-spacing: clamp(.1rem, .2rem, 1rem);
                border: clamp(.15rem, .45vw, .5rem) solid white;
                box-shadow: .2rem .2rem .5rem black;

                transition: all 100ms ease-in;

                padding: {
                    block: clamp(.01rem, 1.5vh, 10rem);
                    inline: clamp(.3rem, 10vw, 20rem);
                }

                ;
                margin-block: clamp(1rem, 10vw, 20rem);

                &:hover {
                    background-color: transparent;
                    transform: scale(1.05);
                    color: white;
                    backdrop-filter: blur(.3rem);
                }

                &:active {
                    transform: scale(.95);
                    color: white;
                    backdrop-filter: blur(.1rem);
                }
            }

        }
    }

    & .stats {
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: clamp(1rem, 5vw, 5rem);
        border-bottom: clamp(.2rem, .5vw, .5rem) solid v.$secondary;

        background: linear-gradient(135deg,
                v.$primary,
                color.scale(v.$tercary, $lightness: -90%));

        padding: {
            block: clamp(2rem, 2vw, 4rem);
            inline: clamp(4rem, 10vw, 6rem);
        }

        & .card-stat {
            display: flex;
            flex-direction: column;
            background-color: v.$tercary;
            border-radius: .8rem;

            padding: {
                block: clamp(1rem, 2vh, 5rem);
                inline: clamp(3rem, 4vh, 5rem);
            }

            & b {
                color: v.$secondary;
                font-size: clamp(2rem, 7vw, 8rem);
            }

            & label {
                font-size: clamp(.1rem, 4vw, 6rem);
            }
        }
    }

    & .festo-info {
        padding: {
            block: clamp(4rem, 8vw, 10rem);
            inline: clamp(1rem, 3vw, 4rem);
        }

        ;

        & img {
            width: clamp(15rem, 20vw, 20rem);
        }

        & p {
            padding-inline: clamp(.1rem, 1.35rem, 2rem);
            // text-align: justify;
        }

        & #gallery {
            position: relative;

            .slide {
                display: none;
                & .active {
                    display: block;
                }
            }
        }
    }
}