@use "sass:color";

@use '_reset';
@use '_variables' as v;

@use 'desktop';

body {
    background-image: url(../assets/images/bg-pattern3.png);
    background-attachment: fixed;
}

.whatsapp-ico {
    box-sizing: border-box;
    // max-width: min-content;
    display: inline-block;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 97;
    cursor: pointer;
}

.burger-menu {
    position: fixed;
    inset: 0;
    z-index: 999;
    color: rgba(245, 245, 245, 0.795);
    font-weight: 600;
    background: radial-gradient(rgba(0, 0, 0, 0.192),
            rgba(0, 0, 0, 0.884));
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    $padding-burger: clamp(.5rem, 1vw, 2rem);
    $width-ico: clamp(2rem, 4vw, 5rem);

    transition: all .3s ease-in;

    & .menu-header {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        padding: $padding-burger;
        box-sizing: border-box;
        margin-bottom: clamp(3rem, 8vw, 5rem);

        & .close-menu {
            min-width: $width-ico;
            cursor: pointer;
            opacity: .8;
        }

        // & svg {
        //     max-width: $width-ico;
        //     cursor: pointer;
        //     opacity: .8;
        //     z-index: 99;
        // }

        & .logo {
            display: flex;
            font-size: clamp(.8rem, 1vw, .5rem);
            font-weight: 300;
            align-items: center;
            color: rgba(255, 255, 255, 0.562);

            & img {
                max-width: calc($width-ico + .4rem);
            }

        }
    }

    & nav {
        height: 100%;
        padding: v.$globalMargin;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & ul {
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: clamp(2rem, 5vw, 3rem);
        }

        & a {
            width: min-content;

            &:hover {
                color: white;
                text-decoration: none;
            }

            &:active {
                transform: scale(1.1);
            }

            padding: {
                inline: clamp(1rem, 2vw, 4rem);
                block: clamp(3rem, 5vw, 8rem);
            }

            ;
        }

        & li {
            width: min-content;
            border-radius: 2rem;
            background: radial-gradient(rgba(0, 0, 0, 0),
                    transparent);
            transition: all .4s ease-out;

            &:active {
                transform: scale(1.02);
            }

            &:hover {
                transform: translateX(10%);
                background: radial-gradient(rgba(0, 0, 0, 0.24),
                        transparent);

            }
        }

    }
}

.inactive {
    opacity: 0;
    z-index: -1;
    transform: scale(.9);
}

.disabled {
    display: none;
    transform: translateY(-100%);
}

.pre-header {
    color: rgba(255, 255, 255, 0.637);
    padding-inline: v.$globalMargin;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-inline: v.$globalMargin;
    top: 0;
    left: 0;
    right: 0;
    text-shadow: .1rem .1rem .3rem black;
    font-size: clamp(.2rem, 3vw, 1rem);
    font-weight: 600;
    z-index: 99;
    padding-top: .2rem;
    // background: linear-gradient(to top,
    //         rgba(0, 0, 0, 0.3),
    //         rgba(0, 0, 0, 0.8));

    transition: all 200ms;

    & a {
        display: flex;
        gap: clamp(.15rem, 1.5vw, 2rem);
        transition: all 200ms ease;

        &:hover {
            color: white;
            transform: scale(1.05);
        }

        &:active {
            color: white;
            transform: scale(0.7);
        }
    }

    & svg {
        width: clamp(1.1rem, 2vw, 3rem);
    }
}

header {
    position: fixed;
    color: white;
    top: var(--preHeader-height);
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(.2rem, .5vw, 1rem) clamp(1rem, 3vw, 4rem);
    gap: clamp(1rem, 3vw, 4rem);
    transition: all 200ms;
    // background: linear-gradient(to top,
    //         rgba(0, 0, 0, 0),
    //         rgba(0, 0, 0, 0.3));
    border-bottom: .2rem solid none;

    &.active {
        border-bottom: .2rem solid v.$secondary;
        background-color: whitesmoke;
        color: black;
        background: whitesmoke;
        top: 0;

        nav {
            transform: translateY(.5rem);

            a {
                &:hover {
                    filter: invert(100%);
                }
            }
        }
    }

    &.inactive {
        transform: translateY(-100%);
    }

    &.header-top-item {
        flex-basis: 100%;
    }

    &.header-bottom-item {
        flex: 0 1 auto;
    }

    .logo {
        max-width: clamp(4rem, 5vw, 8rem);
    }

    & button {
        svg {
            width: clamp(2rem, 10vw, 3rem);
            height: auto;
        }
    }

    & nav {
        display: none;
        flex: 0 10 auto;
        min-width: 0;
        width: 100%;
        // border: 1px solid red;
        padding-left: 13vw;

        & a {
            border: clamp(.1rem, .15rem, .2rem) solid white;
            padding: clamp(.1rem, 1vw, 1rem) clamp(.3rem, 3vw, 4rem);

            font: {
                size: clamp(0.6rem, 0.4rem + 0.8vw, 1.1rem);
                weight: 600;
            }
        }
    }

    & ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: clamp(.1rem, 2vw, 5rem);
    }
}

body {
    .hCarousel {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom,
                    rgb(0, 0, 0) 0%,
                    transparent 30%);
            pointer-events: none;
            z-index: 0;
        }

        .carousel-item img {
            display: block;
            width: 100%;
        }
    }
}

.hero {
    // height: clamp(37vh, 50vh, 60vh);
    aspect-ratio: 12/13;

    background: {
        image: url("../assets/images/herobg-mobile.jpg");
        repeat: no-repeat;
        position: center;
        size: cover;
    }

    display: flex;
    align-items: flex-end;
    justify-content: left;

    border-bottom: 0.2rem solid v.$secondary;

    & .hero-content {
        text-align: left;
        color: white;
        text-shadow: 0 0 .5rem black;
    }
}

.services {
    display: grid;

    text-align: center;

    grid-template-columns: 1fr;
    padding: clamp(2rem, 5vw, 5rem) clamp(.5rem, 6vw, 12rem);

    gap: clamp(2rem, 3vw, 8rem);

    background: linear-gradient(to top, transparent, white 60%),
        transparent;
    ;

    & .service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: clamp(1rem, 4vw, 4rem);
        min-width: clamp(1rem, 10vw, 10rem);
        opacity: 60%;
        transition: all .2s ease;

        &:hover,
        &:active {
            opacity: 100%;
        }
    }

}

.contact-button {
    color: black;
    font-weight: clamp(500, 700, 800);
    background-color: white;
    border-radius: .3rem;
    align-self: center;
    font-size: clamp(1em, 1.1vw, 1.3rem);
    letter-spacing: clamp(.01rem, .02rem, .03rem);
    border: clamp(.15rem, .2vw + .05rem, .3rem) solid white;
    box-shadow: .2rem .2rem .5rem black;
    text-shadow: none;

    transition: all 100ms ease-in;

    padding: {
        block: clamp(.7rem, .7vw + .01rem, 1rem);
        inline: clamp(2rem, 3vw + .5rem, 4rem);
    }

    ;
    margin-block: clamp(5rem, 1vw, 20rem);

    &:hover {
        background-color: transparent;
        transform: scale(1.05);
        color: white;
        backdrop-filter: blur(.3rem);
    }

    &:active {
        transform: scale(.95);
        color: white;
        backdrop-filter: blur(.1rem);
    }
}

.contact-actioncall {
    width: 100%;
    // aspect-ratio: 3 / 2;

    color: white;
    border-block: 0.2rem solid v.$secondary;

    background: linear-gradient(300deg,
            rgba(v.$tertiary, .9),
            rgba(0, 0, 0, 0.233)),
        url(../assets/images/backcontainer.jpg);

    background: {
        size: cover;
        position: top;
        repeat: no-repeat;
    }

    & div {
        display: flex;
        flex-direction: column;
        text-align: center;

        padding: clamp(2rem, 2vw + 1rem, 5rem) clamp(2rem, 7vw, 10rem);

        text-shadow: .3rem .3rem .3rem black;

        & h4 {
            font-size: clamp(1em, 1.4vw + .2rem, 3rem);
        }

        & b {
            align-self: center;
            border: clamp(.2rem, .3vw + .01rem, .5rem) solid rgba(v.$secondary, $alpha: .5);
            backdrop-filter: blur(.1rem);
            margin-bottom: .5rem;
            letter-spacing: clamp(.1rem, .2vw, .4rem);

            padding: {
                block: clamp(1rem, 1.2vw + .1rem, 3rem);
                inline: clamp(.7rem, 1vw + .2rem, 3rem);
            }

            font-size: clamp(2.1em, 4vw + .2rem, 6rem);
            box-shadow: .2rem .2rem .5rem black;
            text-shadow: .2rem .2rem .1rem black,
            .1rem .1rem .7rem white;
            transition: all 300ms ease-out;

            &:hover,
            &:active {
                backdrop-filter: blur(.2rem);
                transform: scale(1.04);
                box-shadow: .5rem .5rem .7rem rgba($color: #000000, $alpha: .7);
                border: clamp(.2rem, .3vw + .01rem, .5rem) solid v.$secondary;
            }
        }

        & p {
            font-weight: 400;
            font-size: clamp(.8em, 1vw + .02rem, 3rem);
            padding-inline: 1.5rem;
        }
    }
}

.stats {
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: clamp(1rem, 5vw, 5rem);
    border-bottom: .02rem solid v.$secondary;

    background: linear-gradient(135deg,
            color.change(v.$primary, $alpha: 1),
            color.change(v.$tertiary, $alpha: 1));

    padding: {
        block: clamp(2rem, 2vw, 3rem);
        inline: clamp(3rem, 4vw, 5rem);
    }

    & .card-stat {
        display: flex;
        flex-direction: column;
        background-color: v.$tertiary;
        border-radius: .8rem;

        padding: {
            block: clamp(1rem, 1.2vw, 1.5rem);
            inline: clamp(3rem, 5vw, 7rem);
        }

        & b {
            color: v.$secondary;
            font-size: clamp(2rem, 2.5vw, 4rem);
        }

        & span {
            font-size: clamp(1.1rem, 1.2vw + .4rem, 1.8rem);
        }
    }
}

.festo-info {
    padding: {
        block: clamp(4rem, 8vw, 10rem);
        inline: clamp(1rem, 5vw, 7rem);
        bottom: 0;
    }

    ;

    & .title {
        padding: 1rem;
        padding-bottom: clamp(1.5rem, 2vw, 3rem);
        border: none;
    }

    & img {
        width: clamp(15rem, 20vw, 20rem);
    }

    & p {
        padding-inline: clamp(1.2rem, 1.8vw, 2rem);
        font-size: clamp(.9rem, 1vw, 1.4rem);
        // text-align: justify;
    }

    & a {
        color: v.$primary;
        font-size: clamp(1.2rem, 2vw, 1.9rem);
        padding-bottom: 2rem;
    }

    & .carousel {
        margin-top: 4rem;
        box-shadow: .2rem .2rem 1rem black;
    }

    .distributors {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 2rem;

        & img {
            max-width: 5rem;
            object-fit: contain;
            filter: grayscale(1);
            opacity: .5;
            transition: all .2s ease;

            &:hover {
                filter: grayscale(0);
                opacity: 1;
            }
        }
    }
}

.title {
    font-size: clamp(2rem, 2.5vw, 3rem);
    color: v.$primary;
    border-bottom: .2rem solid v.$primary;
    padding-bottom: clamp(1rem, 4vw, 3rem);
    padding-inline: clamp(1rem, 3vw, 2rem);
    padding-inline: v.$globalMargin;
}

.title2 {
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: clamp(2rem, 3vw, 3.5rem);
    border-block: .2rem solid v.$secondary;
    // padding-block: clamp(4rem, 20vw, 30rem);
    background: linear-gradient(135deg,
            v.$primary,
            rgba(v.$tertiary, 5));

    padding: {
        block: clamp(4rem, 6vw, 8rem);
        padding-inline: clamp(5rem, 7vw, 9rem);
    }

    ;
}

.services2 {
    padding-block: clamp(10rem, 10.5rem, 11rem);

    #service-card-container {
        padding-block: clamp(1rem, 4vw + 1rem, 7rem);
    }

    & .service-card {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1.5rem;

        & svg {
            width: clamp(4rem, 6vw, 8rem);
        }
        & .card {
            background-color: rgba(v.$tertiary, .9);
            margin-inline: v.$globalMargin;
            border-radius: .5rem;
            color: white;

            padding: {
                inline: clamp(1.2rem, 2vw, 4rem);
                block: clamp(1rem, 2vw, 2rem);
            }

            ;

            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: .1rem solid rgba(245, 245, 245, 0.466);
                border-radius: .5rem;

                padding: {
                    inline: clamp(2rem, 1vw, 4rem);
                    block: clamp(.5rem, 1vw, 2rem);
                }

                ;

                & span {
                    padding-block: clamp(1rem, 2vw, 2.5rem);
                }
            }
        }

        .festo-card {
            background-color: black;
        }
    }


}

.products {

    & .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
        padding-inline: clamp(2rem, 9vw, 12rem);
        padding-block: clamp(3rem, 6vw, 8rem);

        & .card {
            color: white;
            background-color: v.$tertiary;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // border: clamp(.2rem, .25vw + .02rem, .4rem) solid v.$tertiary;
            box-shadow: .2rem .2rem .8rem black;
            width: 20rem;
            overflow: hidden;
            cursor: pointer;
            margin: auto;
            

            .image-container {
                overflow: hidden;
                display: flex;
                align-items: center;
                width: 100%;
                height: clamp(13rem, 22vw, 23rem);
                background-color: white;

                & img {
                    transform: scale(1.05);
                    object-fit: contain;
                    transition: all .4s ease;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &:active {
                        transform: scale(.9);
                    }
                }
            }

            & a {
                background-color: v.$tertiary;
                color: white;
                text-align: center;
                width: 100%;
                padding-block: clamp(.5rem, 1vw, 1.5rem);
                font-size: clamp(1.8rem, 2vw, 2.2rem);
                font-weight: 700;
            }

            & span {
                background-color: v.$tertiary;
                color: white;
                text-align: center;
                width: 100%;
                padding-block: .5rem;
                font-size: clamp(1rem, 1.2vw, 1.8rem);
                font-weight: 700;
            }
        }

        & .all-products {
            // background-color: color.scale(v.$tertiary, $lightness: -50%);
            transition: all .2s ease-in-out;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 20rem;

            padding: {
                inline: 1rem;
                block: 3rem;
            }


            &:hover {
                background-color: v.$tertiary;
                transform: scale(1.02);
            }

            &:active {
                background-color: color.scale(v.$tertiary, $lightness: 50%);
                transform: scale(.95);
            }

            & label {
                background-color: transparent;
            }

            & svg {
                width: 7rem;
                margin: auto
            }

            ;

            & .all-products-label {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
            }

        }
    }

    // padding-block: clamp(7rem, 15vw, 25rem);

}

#reviews {
    background: linear-gradient(175deg,
            v.$primary,
            color.scale(v.$tertiary, $lightness: -70%));

    padding: {
        inline: v.$globalMargin;
        block: clamp(4rem, 5vw, 10rem);
    }

    ;

    & b {
        color: v.$secondary;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.548);
        font-size: clamp(3rem, 4vw, 6rem);
        // max-width: 30rem;

        padding: {
            inline: clamp(5rem, 6vw, 7rem);
        }
    }

    & .title {
        color: white;
        border-bottom-color: white;
        font-weight: 700;
    }

    & .card {
        background-color: transparent;
        color: white;
        border: .2rem solid v.$secondary;
        border-radius: clamp(1.2rem, 1.4vw, 1.8rem);

        padding: {
            inline: clamp(.5rem, 1vw, 3rem);
            block: clamp(.5rem, .5vw, 3rem);
        }

        ;

        & svg {
            max-width: clamp(2rem, 2.2vw + .1rem, 3rem);
        }

        & strong {
            font-size: clamp(1.1rem, 1.4vw, 1.5rem);
            padding-inline: clamp(2rem, 2.2vw, 3rem);
            padding-bottom: clamp(.5rem, 1vw, 1.5rem);
        }

        & p {
            font-style: italic;
        }

    }

    & aside {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: clamp(1rem, 2vw, 4rem);
    }

    & .clients-reviews {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 3rem;
        padding-block: clamp(4rem, 5vw, 8rem);
    }
}

.about-us {
    color: white;
    display: flex;
    flex-direction: column;
    text-shadow: .2rem .3rem .3rem black;
    background: radial-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.6)),
        url(../assets/images/abt-usbg.jpg);

    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
    }

    ;

    padding: {
        block: clamp(4rem, 10vw, 15rem);
        inline: clamp(1rem, 15vw + 1rem, 20rem);
        bottom: 4rem;
    }

    ;

    & h2 {
        margin-inline: 0;
        filter: brightness(105%);
    }
}

footer {
    background-color: v.$tertiary;
    color: whitesmoke;
    display: grid;
    gap: clamp(.5rem, 2vw + .1rem, 2.5rem);
    grid-template-columns: repeat(2, 1fr);

    padding: {
        inline: clamp(1rem, 2vw, 4rem);
        block: clamp(1rem, 2vw, 4rem);
    }

    ;

    // @media (min-width: 1000px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }
    & .card {
        overflow: hidden;
        display: flex;
        // justify-content: center;
        padding: v.$globalMargin;
        padding-block: clamp(2rem, 4vw + .1rem, 4.5rem);
        background-color: color.scale(v.$tertiary, $lightness: 10%);
        font-size: clamp(.8rem, 1vw + .01rem, 1.1rem);
    }

    & .logoCard {
        background-color: whitesmoke;
        color: black;
    }

    & span {
        align-self: flex-start;
        width: 100%;
        border-left: .2rem solid coral;
        padding-inline: v.$globalMargin;
        font-weight: 800;
        font-size: clamp(1.1rem, 1.2vw + .01rem, 1.4rem);
    }

    & .social-media-buttons {
        display: flex;
        flex-direction: column;
        padding-block: clamp(1rem, 1.2vw, 1.5rem);
        gap: clamp(.9rem, 1vw + .1rem, 1.2rem);
        font-weight: 500;

        & svg {
            width: clamp(1rem, 2vw, 3rem);
            filter: invert(1);
        }

        & .social-media-icon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & span {
                border: none;
                margin: auto;
                font-weight: 500;
                font-size: clamp(.8rem, 1vw + .01rem, 1.1rem);
            }
        }
    }
}