@use "sass:color";

@use '_variables' as v;

@mixin container1 {

    @media (min-width: 1300px) {
        padding-inline: clamp(10rem, 18vw, 20rem);
    }
}

@mixin container2 {
    @media (min-width: 1300px) {
        padding-inline: clamp(15rem, 24vw, 28rem);
    }
}

html {
    & body {
        background-image: url("../assets/images/bg-pattern3.png");
        background-repeat: repeat;
        background-size: auto;
        transition: all .2s ease;

        &.modal-open {
            overflow: hidden;
        }
    }
}

.product-overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, .7);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity .2s ease,
        visibility .2s ease;


    z-index: 1000;

    .close-modal {
        position: relative;
        filter: opacity(.8);
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    & .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ccc;
        transition: all 200ms ease;
    }

    & .dot.activeDot {
        background: #077dc8;
        transform: scale(1.25);
    }

    .active-img-indicator-container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        width: 100%;
    }

    .search-buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // transform: translateY(-100%);

        & svg {
            max-width: 5rem;
        }

    }


    & .product-modal {
        background-color: white;
        position: absolute;
        overflow: auto;
        border-radius: .7rem;
        inset: 10% 15% 5% 15%;
        display: grid;
        overflow: hidden;
    }

    & .modal-image-container {
        border-radius: 1rem;
        box-shadow: .1rem .1rem .8rem rgba(0, 0, 0, 0.055);
    }

    .modal-content {
        border: none;
        position: relative;

        & .close-modal {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 100%;

            & svg {
                max-width: 3.5rem;
            }
        }

        & #modalCategory {
            color: v.$primary;
            font-weight: 700;
            font-size: 1.2rem;
            white-space: nowrap;
            width: min-content;
            padding-block: .6rem;

            &::after {
                content: "";
                display: block;
                width: 50%;
                height: 3px;
                margin-top: 8px;
                background: linear-gradient(to right,
                        coral 0%,
                        v.$secondary 100%);
            }
        }

        & #modalName {
            font-weight: 700;
            font-size: 2.4rem;

            padding: {
                top: 1.6rem;
                bottom: .6rem;
            }
        }

        & #modalDescription {
            color: rgba(0, 0, 0, 0.548);
            font-weight: 600;

            padding: {
                bottom: .8rem;
            }
        }

        & .feature-contact-container {
            padding-right: 7rem;

            & .fast-atention {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                padding-block: 1rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: v.$tertiary;

                & img {
                    max-width: 2rem;
                    padding-right: .5rem;
                }
            }
        }

        & #modalCharacteristics {

            & .modalFeature {
                display: flex;
                align-items: start;
                justify-content: start;
                border-bottom: .1rem solid rgba(148, 147, 147, 0.363);
                margin-bottom: 1rem;
            }

            & img {
                max-width: 3rem;
                aspect-ratio: 1/1;
                padding: .7rem;
                margin: 1rem;
                margin-top: 0;
                background-color: v.$tertiary;
                border-radius: 100%;
                // padding-top: .2rem;
            }

            & .modalFeatureTitle {
                font-size: 1.2rem;
                font-weight: 700;
            }

            & .modalFeatureDescription {
                font-size: 1rem;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.548);
            }
        }

        & #modalWhatsapp {
            background-color: v.$tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 1rem;
            padding: .9rem;
            border-radius: .6rem;
            font-size: 1.6rem;
            font-weight: 600;

            transition: all .2s ease;

            & svg {
                max-width: 3rem;
            }

            &:hover {
                background-color: color.adjust(v.$tertiary, $lightness: 10%);
            }
        }
    }

    & svg {
        max-width: 5rem;
    }

    @media (min-width: v.$desktop) {
        & .product-modal {
            padding: 2rem;
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        & #modalImage {
            aspect-ratio: 1/1;
            object-fit: contain;
            min-width: 100%;
        }
    }
}


.p-title {
    font-size: clamp(2rem, 3vw, 3.5rem);
}

.p-header {
    height: 10rem;
    background-color: rgba(7, 11, 19, 0.582);
}

.p-heading {
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom: .2rem solid v.$secondary;
    height: 100%;
    box-shadow: .2rem -.6rem 3rem black;

    padding: {
        block: clamp(4rem, 6vw, 8rem);
        // inline: v.$globalMargin;
    }
    @include container1;
}

.p-description {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.459);
}

.catalog {
    background-color: whitesmoke;
    width: 100%;
    padding-inline: v.$globalMargin;

    & .catalog-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-auto-rows: 1fr;
        gap: clamp(2rem, 3vw, 5rem);
        padding-block: clamp(1rem, 2vw, 4rem);

        & .catalog-card {
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: .2rem .2rem .8rem rgba(0, 0, 0, 0.39);

            & img {
                object-fit: contain;
                background-color: white;
                aspect-ratio: 1 / 1;
                padding: 1rem;
                min-width: 5rem;
                padding-inline: clamp(1rem, 2vw, 3rem);
            }

            & span {
                padding: 1rem;
                font-weight: 600;
                width: 100%;
                text-align: center;
            }

            &:nth-child(n + 9) {
                display: none;
            }
        }
    }

    & .catalog-grid.is-expanded .catalog-card {
        display: flex;
    }

    & .catalog-show-more-arrow {
        max-width: .8rem;
        padding-top: .2rem;
    }

    & .catalog-show-more {
        color: v.$primary;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: .5rem;
        font-weight: 600;
    }

    & .catalog-show-more.is-hidden {
        display: none;
    }
}

@media (max-width: 400px) {
    .catalog {
        & .catalog-grid {
            grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
            gap: clamp(1rem, 2vw, 3rem);
        }
    }
}

@media (min-width: 970px) {
    .catalog {
        & .catalog-show-more {
            display: none;
        }

        & .catalog-grid {
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
            gap: clamp(1rem, 2vw, 4rem);
            padding-block: clamp(1rem, 2vw, 4rem);

            & .catalog-card {

                &:nth-child(n + 9) {
                    display: block;
                }
            }

        }
    }
}

.products-preview {
    @include container1;

    padding-block: 2rem;

    .products-preview-header {
        display: flex;
        justify-content: space-between;
        & a {
            color: #25d366;
            font-weight: 800;
        }
    }
    .see-more {
        color: v.$primary;
        font-weight: 700;
        padding-top: 1rem;
    }

    .categories-viewport {
        position: relative;
        overflow: hidden;

        padding: 2rem;
        background-color: white;

        .categories-track {
            display: flex;
            gap: 2rem;

            transition: transform 0.4s ease;

            .category-card {
                // 6 tarjetas visibles en desktop
                flex: 0 0 calc((100% - 10rem) / 6);

                min-width: 0;

                background-color: white;

                padding: {
                    block: 2rem;
                    inline: 1rem;
                }

                .category-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    aspect-ratio: 1 / 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        .carousel-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 2rem;
            height: 4rem;

            border: none;
            border-radius: .2rem;

            background-color: v.$primary;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

            cursor: pointer;

            font-size: 1.4rem;

            transition: 0.2s ease;

            &:hover {
                transform: translateY(-50%) scale(1.05);
            }

            &:disabled {
                opacity: 0;
                cursor: default;

                &:hover {
                    transform: translateY(-50%);
                }
            }
        }

        .carousel-button-left {
            left: 0.5rem;
        }

        .carousel-button-right {
            right: 0.5rem;
        }
    }
}


// MOBILE
@media (max-width: 768px) {

    .conectores-products {

        .categories-viewport {
            padding: 1rem;

            .categories-track {
                gap: 1rem;

                .category-card {
                    // 4 tarjetas visibles en mobile
                    flex: 0 0 calc((100% - 3rem) / 4);

                    padding: {
                        block: 1rem;
                        inline: 0.5rem;
                    }
                }
            }

            .carousel-button {
                width: 32px;
                height: 32px;

                font-size: 1rem;
            }

            .carousel-button-left {
                left: 0.25rem;
            }

            .carousel-button-right {
                right: 0.25rem;
            }
        }
    }
}


.cards-container {
    padding: clamp(3rem, 6vw, 9rem);

    & section {
        padding: {
            bottom: clamp(3rem, 5vw, 7rem);
            top: clamp(2rem, 3vw, 4rem);
        }

        ;

        & .card {
            cursor: pointer;
            overflow: hidden;
            border-radius: clamp(.5rem, .8vw, 1rem);
            box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.63);

            transition: all .2s ease;

            .card-label {
                font-size: clamp(1.5rem, 1.9vw, 2.2rem);
            }

            &:hover {
                transform: scale(1.04);

                .card-label {
                    background-color: v.$primary;
                    padding-inline: 1rem;
                }
            }

            &:active {
                transform: scale(.98);
                filter: brightness(1.2);
            }
        }
    }

    .dist,
    .main-products,
    .other-products {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: clamp(1rem, 2vw, 3rem);
        margin-inline: auto;
    }

    @media (max-width: 400px) {

        .dist,
        .main-products,
        .other-products {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 992px) {

        .dist,
        .main-products,
        .other-products {
            grid-template-columns: repeat(5, minmax(0, 1fr));
            max-width: 80%;
        }
    }

    .img-container {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-label {
        min-height: clamp(2rem, 4vw, 6rem);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        background-color: v.$tertiary;
        color: whitesmoke;

        transition: all .2s ease;
    }
}