html body {
  background-image: url("../assets/images/bg-pattern3.png");
  background-repeat: repeat;
  background-size: auto;
  transition: all 0.2s ease;
}
html body.modal-open {
  overflow: hidden;
}

.product-overlay {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.product-overlay .close-modal {
  position: relative;
  filter: opacity(0.8);
}
.product-overlay.active {
  display: flex;
}
.product-overlay .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
  transition: all 200ms ease;
}
.product-overlay .dot.activeDot {
  background: #077dc8;
  transform: scale(1.25);
}
.product-overlay .active-img-indicator-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.product-overlay .search-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-overlay .search-buttons-container svg {
  max-width: 5rem;
}
.product-overlay .product-modal {
  background-color: white;
  position: absolute;
  overflow: auto;
  border-radius: 0.7rem;
  inset: 10% 15% 5% 15%;
  display: grid;
  overflow: hidden;
}
.product-overlay .modal-image-container {
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.055);
}
.product-overlay .modal-content {
  border: none;
  position: relative;
}
.product-overlay .modal-content .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
}
.product-overlay .modal-content .close-modal svg {
  max-width: 3.5rem;
}
.product-overlay .modal-content #modalCategory {
  color: #0a91c6;
  font-weight: 700;
  font-size: 1.2rem;
  white-space: nowrap;
  width: -moz-min-content;
  width: min-content;
  padding-block: 0.6rem;
}
.product-overlay .modal-content #modalCategory::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  margin-top: 8px;
  background: linear-gradient(to right, coral 0%, #C79A3A 100%);
}
.product-overlay .modal-content #modalName {
  font-weight: 700;
  font-size: 2.4rem;
  padding-top: 1.6rem;
  padding-bottom: 0.6rem;
}
.product-overlay .modal-content #modalDescription {
  color: rgba(0, 0, 0, 0.548);
  font-weight: 600;
  padding-bottom: 0.8rem;
}
.product-overlay .modal-content .feature-contact-container {
  padding-right: 7rem;
}
.product-overlay .modal-content .feature-contact-container .fast-atention {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #0d1f3a;
}
.product-overlay .modal-content .feature-contact-container .fast-atention img {
  max-width: 2rem;
  padding-right: 0.5rem;
}
.product-overlay .modal-content #modalCharacteristics .modalFeature {
  display: flex;
  align-items: start;
  justify-content: start;
  border-bottom: 0.1rem solid rgba(148, 147, 147, 0.363);
  margin-bottom: 1rem;
}
.product-overlay .modal-content #modalCharacteristics img {
  max-width: 3rem;
  aspect-ratio: 1/1;
  padding: 0.7rem;
  margin: 1rem;
  margin-top: 0;
  background-color: #0d1f3a;
  border-radius: 100%;
}
.product-overlay .modal-content #modalCharacteristics .modalFeatureTitle {
  font-size: 1.2rem;
  font-weight: 700;
}
.product-overlay .modal-content #modalCharacteristics .modalFeatureDescription {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.548);
}
.product-overlay .modal-content #modalWhatsapp {
  background-color: #0d1f3a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 1rem;
  padding: 0.9rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.2s ease;
}
.product-overlay .modal-content #modalWhatsapp svg {
  max-width: 3rem;
}
.product-overlay .modal-content #modalWhatsapp:hover {
  background-color: rgb(22.338028169, 53.2676056338, 99.661971831);
}
.product-overlay svg {
  max-width: 5rem;
}
@media (min-width: 1200px) {
  .product-overlay .product-modal {
    padding: 2rem;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .product-overlay #modalImage {
    aspect-ratio: 1/1;
    -o-object-fit: contain;
       object-fit: contain;
    min-width: 100%;
  }
}

.p-title {
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: clamp(2rem, 3vw, 3.5rem);
  border-bottom: 0.2rem solid #C79A3A;
  background: linear-gradient(to top, #0a91c6, black);
  padding-block: clamp(4rem, 6vw, 8rem);
  padding-inline: clamp(1rem, 1.8vw, 2rem);
  padding-top: clamp(7rem, 12vw, 14rem);
}

.cards-container {
  padding: clamp(1rem, 4vw, 5rem);
}
.cards-container section {
  padding-bottom: clamp(3rem, 5vw, 7rem);
  padding-top: clamp(2rem, 3vw, 4rem);
}
.cards-container section .card {
  cursor: pointer;
  overflow: hidden;
  border-radius: clamp(0.5rem, 0.8vw, 1rem);
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.63);
  transition: all 0.2s ease;
}
.cards-container section .card .card-label {
  font-size: clamp(1.5rem, 2vw, 4rem);
}
.cards-container section .card:hover {
  transform: scale(1.04);
}
.cards-container section .card:hover .card-label {
  background-color: #0a91c6;
  padding-inline: 1rem;
}
.cards-container section .card:active {
  transform: scale(0.98);
  filter: brightness(1.2);
}
.cards-container .dist,
.cards-container .main-products,
.cards-container .other-products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: clamp(1rem, 2vw, 3rem);
  margin-inline: auto;
}
@media (max-width: 400px) {
  .cards-container .dist,
  .cards-container .main-products,
  .cards-container .other-products {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) {
  .cards-container .dist,
  .cards-container .main-products,
  .cards-container .other-products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    max-width: 80%;
  }
}
.cards-container .img-container {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-container .card-label {
  min-height: clamp(4rem, 7vw, 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color: #0d1f3a;
  color: whitesmoke;
  transition: all 0.2s ease;
}/*# sourceMappingURL=products.css.map */