@use "sass:color";

@use '_variables' as v;

html {
    & body {
        background-image: url("../assets/images/bg-pattern3.png");
        background-repeat: repeat;
        background-size: auto;
        transition: all .2s ease;

        &.modal-open {
            overflow: hidden;
        }
    }
}

.product-overlay {
    position: fixed;
    inset: 0;

    display: none;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.7);

    z-index: 1000;

    .close-modal {
        position: relative;
        filter: opacity(.8);
    }

    &.active {
        display: flex;
    }

    & .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ccc;
        transition: all 200ms ease;
    }

    & .dot.activeDot {
        background: #077dc8;
        transform: scale(1.25);
    }

    .active-img-indicator-container {
        display: flex;
        justify-content: center;
        gap: 1rem;

        width: 100%;
    }

    .search-buttons-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        // transform: translateY(-100%);

        & svg {
            max-width: 5rem;
        }

    }


    & .product-modal {
        background-color: white;
        position: absolute;
        overflow: auto;
        border-radius: .7rem;
        inset: 10% 15% 5% 15%;
        display: grid;
        overflow: hidden;
    }

    & .modal-image-container {
        border-radius: 1rem;
        box-shadow: .1rem .1rem .8rem rgba(0, 0, 0, 0.055);
    }

    .modal-content {
        border: none;
        position: relative;

        & .close-modal {
            position: absolute;
            top: 0;
            right: 0;
            max-width: 100%;

            & svg {
                max-width: 3.5rem;
            }
        }

        & #modalCategory {
            color: v.$primary;
            font-weight: 700;
            font-size: 1.2rem;
            white-space: nowrap;
            width: min-content;
            padding-block: .6rem;

            &::after {
                content: "";
                display: block;
                width: 50%;
                height: 3px;
                margin-top: 8px;
                background: linear-gradient(to right,
                        coral 0%,
                        v.$secondary 100%);
            }
        }

        & #modalName {
            font-weight: 700;
            font-size: 2.4rem;

            padding: {
                top: 1.6rem;
                bottom: .6rem;
            }
        }

        & #modalDescription {
            color: rgba(0, 0, 0, 0.548);
            font-weight: 600;

            padding: {
                bottom: .8rem;
            }
        }

        & .feature-contact-container {
            padding-right: 7rem;

            & .fast-atention {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                padding-block: 1rem;
                font-size: 1.1rem;
                font-weight: 600;
                color: v.$tertiary;

                & img {
                    max-width: 2rem;
                    padding-right: .5rem;
                }
            }
        }

        & #modalCharacteristics {

            & .modalFeature {
                display: flex;
                align-items: start;
                justify-content: start;
                border-bottom: .1rem solid rgba(148, 147, 147, 0.363);
                margin-bottom: 1rem;
            }

            & img {
                max-width: 3rem;
                aspect-ratio: 1/1;
                padding: .7rem;
                margin: 1rem;
                margin-top: 0;
                background-color: v.$tertiary;
                border-radius: 100%;
                // padding-top: .2rem;
            }

            & .modalFeatureTitle {
                font-size: 1.2rem;
                font-weight: 700;
            }

            & .modalFeatureDescription {
                font-size: 1rem;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.548);
            }
        }

        & #modalWhatsapp {
            background-color: v.$tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 1rem;
            padding: .9rem;
            border-radius: .6rem;
            font-size: 1.6rem;
            font-weight: 600;

            transition: all .2s ease;

            & svg {
                max-width: 3rem;
            }

            &:hover {
                background-color: color.adjust(v.$tertiary, $lightness: 10%);
            }
        }
    }

    & svg {
        max-width: 5rem;
    }

    @media (min-width: v.$desktop) {
        & .product-modal {
            padding: 2rem;
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        & #modalImage {
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
}


.p-title {
    color: white;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: clamp(2rem, 3vw, 3.5rem);
    border-bottom: .2rem solid v.$secondary;
    // padding-block: clamp(4rem, 20vw, 30rem);
    background: linear-gradient(to top,
            v.$primary,
            black);

    padding: {
        block: clamp(4rem, 6vw, 8rem);
        inline: v.$globalMargin;
        top: clamp(7rem, 12vw, 14rem);
    }

    ;
}

.cards-container {
    padding: clamp(1rem, 4vw, 5rem);

    & section {
        padding: {
            bottom: clamp(3rem, 5vw, 7rem);
            top: clamp(2rem, 3vw, 4rem);
        }

        ;

        & .card {
            cursor: pointer;
            overflow: hidden;
            border-radius: clamp(.5rem, .8vw, 1rem);
            box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.63);

            transition: all .2s ease;

            .card-label {
                font-size: clamp(1.5rem, 2vw, 4rem);
            }

            &:hover {
                transform: scale(1.04);

                .card-label {
                    background-color: v.$primary;
                    padding-inline: 1rem;
                }
            }

            &:active {
                transform: scale(.98);
                filter: brightness(1.2);
            }
        }
    }

    .dist,
    .main-products,
    .other-products {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: clamp(1rem, 2vw, 3rem);
        margin-inline: auto;
    }

    @media (max-width: 400px) {

        .dist,
        .main-products,
        .other-products {
            grid-template-columns: 1fr;
        }
    }

    @media (min-width: 992px) {

        .dist,
        .main-products,
        .other-products {
            grid-template-columns: repeat(4, minmax(0, 1fr));
            max-width: 80%;
        }
    }

    .img-container {
        width: 100%;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-label {
        min-height: clamp(4rem, 7vw, 9rem);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
        background-color: v.$tertiary;
        color: whitesmoke;

        transition: all .2s ease;
    }
}