<footer>
    <div class="card logoCard">
        <a href="#">
            <img src="assets/images/logo.png" alt="Mario Buffa" data-="logo">
        </a>
    </div>
    <div class="card">
        <span class="title">
            Links
        </span>
        <ul>
            <li class="button"><a href="#index"> INICIO </a></li>
            <li class="button"><a href="#"> NOSOTROS </a></li>
            <li class="button"><a href="#"> CONTACTO </a></li>
        </ul>
    </div>
    <div class="card">
        <span class="title">
            Menú
        </span>
        <ul>
            <li class="button"><a href="#"> SERVICIOS </a></li>
            <li class="button"><a href="#"> PRODUCTOS </a></li>
            <li class="button"><a href="#"> ASESORAMIENTO </a></li>
        </ul>
    </div>
    <div class="card">
        <span class="title">
            Redes Sociales
        </span>
        <ul>
            <li><a href="#">Mario Buffa San Luis</a></li>
            <li><a href="#">buffa.sanluis</a></li>
            <address>
                <li><a href="#">266 419-0707</a></li>
            </address>
        </ul>
    </div>
</footer>