<!-- <head></head> -->
<footer>
    <div class="card logoCard">
        <a href="#">
            <img src="assets/images/logo.png" alt="Mario Buffa" data-="logo">
        </a>
    </div>
    <div class="card">
        <span class="f-title">
            Links
        </span>
        <ul>
            <li class="f-menu"><a href="#index">> INICIO </a></li>
            <li class="f-menu"><a href="#">> NOSOTROS </a></li>
            <li class="f-menu"><a href="#">> CONTACTO </a></li>
        </ul>
    </div>
    <div class="card">
        <span class="f-title">
            Menú
        </span>
        <ul>
            <li class="f-menu"><a href="#">> SERVICIOS </a></li>
            <li class="f-menu"><a href="#">> PRODUCTOS </a></li>
            <li class="f-menu"><a href="#">> ASESORAMIENTO </a></li>
        </ul>
    </div>
    <div class="card">
        <span class="f-title">
            Redes Sociales
        </span>
        <ul>
            <li><a href="#">
                Mario Buffa San Luis
            </a></li>
            <li><a href="#">
                buffa.sanluis
            </a></li>
            <address>
                <li><a href="#">
                    266 419-0707
                </a></li>
            </address>
        </ul>
    </div>
</footer>